.idea
target
jessgen
output
input
jars
repos
gen
.md
experiment
experiment_result
.experiment
.experiment_result
.projects
/src/test/resources/projects/
/src/test/resources/project/
/src/main/java/de/upb/sse/jess/experiment setup/
/src/main/resources/experiment setup/
/src/main/resources/experiment_result/
